<aside id="fh5co-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <li style="background-image: url(../images/s_ferma.jpg);">
        <div class="overlay-gradient"></div>
        <div class="container">
          <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
            <div class="slider-text-inner desc">
              <h2 class="heading-section">Мравеферми</h2>
              <p class="fh5co-lead">Направени с <i class="icon-heart3"></i> от <a href="https://www.rozliart.com">RozLi
                Art</a></p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>
<div id="fh5co-work-section">
  <div class="container">
    <div class="row">
      <h1 style="text-align: center">Мравеферма "Старата възрожденска къща"</h1>
      <div class="col-md-6 text-center project">
        <div class="row">
          <img id="antfarm" src="../images/p_ferma.jpg" alt='Мравеферма' class="img-responsive">
        </div>
        <div class="row">
          <div id="gallery_01" class="row img-gallery-select">
            <div class="col-md-3 image" style="width:25%;float: left;">
              <a class="elevatezoom-gallery active" href="#" data-image="../images/p_ferma.jpg" data-zoom-image="../images/p_ferma.jpg">
                <img class="img-responsive" src="../images/p_ferma.jpg" />
              </a>
            </div>
            <div class="col-md-3 image" style="width:25%;float: left;">
              <a class="elevatezoom-gallery" href="#" data-image="../images/p_ferma_2.jpg" data-zoom-image="../images/p_ferma_2.jpg">
                <img class="img-responsive" src="../images/p_ferma_2.jpg" />
              </a>
            </div>
            <div class="col-md-3 image" style="width:25%;float: left;">
              <a class="elevatezoom-gallery" href="#" data-image="../images/p_ferma_3.jpg" data-zoom-image="../images/p_ferma_3.jpg">
                <img class="img-responsive" src="../images/p_ferma_3.jpg" />
              </a>
            </div>
            <div class="col-md-3 image" style="width:25%;float: left;">
              <a class="elevatezoom-gallery" href="#" data-image="../images/p_ferma_4.jpg" data-zoom-image="../images/p_ferma_4.jpg">
                <img class="img-responsive" src="../images/p_ferma_4.jpg" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
         <a                     
           socialshare 
           socialshare-provider="facebook" 
           socialshare-via="{{$root.texts.fbId}}" 
           socialshare-type="feed" 
           socialshare-description="{{fbShareDesc}}"
           socialshare-url="{{fbShareURL}}"
           socialshare-media="{{fbShareMedia}}"
           href="#"><img class="fb-share" src="../../../images/fb_share.png" alt="Share on FB">
         </a>     
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Размери</h4>
            <p class="list-group-item-text">21/20/40 см.</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Ниво</h4>
            <p class="list-group-item-text">За напреднали</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Материали</h4>
            <p class="list-group-item-text">Аериран газобетон (UTONG), стъкло, дърво, камъчета, глина, шишарки, дървесен лишей от борови и букови гори, метална мрежа, силикон, акрилни бои и лакове на водна основа</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Забележка</h4>
            <p class="list-group-item-text">Фермата не трябва да бъде огрявана от слънчева светлина, защото това може бързо да убие мравките, живеещи в нея</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Време за изработка</h4>
            <p class="list-group-item-text">4-6 месеца</p>
          </a>
        </div>
        <p class="btn btn-success">Цена: 890 лв.</p>
      </div>
    </div>
    <div class="row">
      <p>Мравеферма „Старата възрожденска къща“ е комбинация от макет на стара възрожденска къща и ферма за мравки в специално
        изработен за целта аквариум. Камерите и тунелите се намират в задната част на фермата и са закрити с гумиран лист,
        които предпазват насекомите от пряка слънчева светлина. Мравките могат да се наблюдават след повдигане на гумирания
        лист. Предната част на фермата представлява арената или мястото, където мравките се хранят и могат да се разхождат
        на светлина. Мравефермата има леснодостъпни отвори за навлажняване и вентилационен капак, през който влагата да излиза.
        Вентилационният малък отвор в долният ляв ъгъл на фермата служи за пренасяне на мравките от една ферма в друга.
      </p>
      <p>
        Препоръки: Желателно е преди да поръчате тази мравеферма да имате опит в отглеждането на мравки и готова колония за пренасяне.
        Препоръчително е пренасянето на мравките да става доброволно, без излишен стрес за тях. Нe всички видове мравки могат
        да се отглеждат във всички видове мравеферми затова информирайте се предварително кои видове могат да се гледат в
        ютонг. Обърнете внимание кои са защитените видове и кои не могат да бъдат отглеждани на закрито.
      </p>
    </div>
  </div>
</div>