<aside id="rozli-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <li style="background-image: url(images/slide_3.jpg);">
        <div class="overlay-gradient"></div>
        <div class="container">
          <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
            <div class="slider-text-inner desc">
              <h2 class="heading-section">Гоблени</h2>
              <p class="rozli-lead">Направени с <i class="icon-heart3"></i> от <a href="https://www.rozliart.com">RozLi Art</a></p>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(images/s_ferma.jpg);">
        <div class="overlay-gradient"></div>
        <div class="container">
          <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
            <div class="slider-text-inner desc">
              <h2 class="heading-section">Мравеферми</h2>
              <p class="rozli-lead">Направени с <i class="icon-heart3"></i> от <a href="https://www.rozliart.com">RozLi Art</a></p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>
<div id="rozli-work-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center project">
        <a href="/handmade/tapestry" class="grid-project">
          <div class="image"><img src="images/p_tapestry.jpg" alt="Гоблени" class="img-responsive"></div>
          <div class="desc">
            <h3>Гоблени</h3>
          </div>
        </a>
      </div>
      <div class="col-md-3 text-center project">
        <a href="/handmade/antfarms" class="grid-project">
          <div class="image"><img src="images/p_ferma.jpg" alt="Мравеферми" class="img-responsive"></div>
          <div class="desc">
            <h3>Мравеферми</h3>
          </div>
        </a>
      </div>
      <div class="col-md-3 text-center project">
        <a href="#" class="grid-project">
          <div class="image"><img src="images/p_makrame.jpg" alt="Макрамета" class="img-responsive"></div>
          <div class="desc">
            <h3>Макрамета</h3>
            <span>{{ComingSoon}}</span>
          </div>
        </a>
      </div>
      <div class="col-md-3 text-center project">
        <a href="#" class="grid-project">
          <div class="image"><img src="images/p_paintings.jpg" alt="Картини" class="img-responsive"></div>
          <div class="desc">
            <h3>Картини</h3>
            <span>{{ComingSoon}}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>