<aside id="rozli-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <li style="background-image: url(images/s_chairs_2.jpg);">
        <div class="overlay-gradient"></div>
        <div class="container">
          <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
            <div class="slider-text-inner desc">
              <h2 class="heading-section">Макрамета</h2>
              <p class="rozli-lead">Направени с <i class="icon-heart3"></i> от <a href="https://www.rozliart.com">RozLi Art</a></p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>
<div id="rozli-work-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center project">
        <a href="#" class="grid-project">
          <div class="image"><img src="images/p_dummy.jpg" alt="Project" class="img-responsive"></div>
          <div class="desc">
            <h3>Продукт 1</h3>
            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has been the industry's standard dummy text ever since 1500.</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="#" class="grid-project">
          <div class="image"><img src="images/p_dummy.jpg" alt="Project" class="img-responsive"></div>
          <div class="desc">
            <h3>Продукт 2</h3>
            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="#" class="grid-project">
          <div class="image"><img src="images/p_dummy.jpg" alt="Project" class="img-responsive"></div>
          <div class="desc">
            <h3>Продукт 3</h3>
            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="#" class="grid-project">
          <div class="image"><img src="images/p_dummy.jpg" alt="Project" class="img-responsive"></div>
          <div class="desc">
            <h3>Продукт 4</h3>
            <span>Описание на продукт 4</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="#" class="grid-project">
          <div class="image"><img src="images/p_dummy.jpg" alt="Project" class="img-responsive"></div>
          <div class="desc">
            <h3>Продукт 5</h3>
            <span>Ла лал лал ала ла ла ла лала ла ла лала ла ал ала лаллллллаааааааааааа</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="#" class="grid-project">
          <div class="image"><img src="images/p_dummy.jpg" alt="Project" class="img-responsive"></div>
          <div class="desc">
            <h3>Продукт 6</h3>
            <span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>