<aside id="fh5co-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <rl-slider info="tSlider"></rl-slider>
    </ul>
  </div>
</aside>
<div id="fh5co-work-section">
  <div class="container">
    <div class="row">
      <p style="text-align: justify; color: black;">
        &emsp;&emsp;&emsp;Майсторски изработени гоблени от вещия в занаята гобленар Веска Тенева. Тя изработва гоблените с голяма
        желание и професионализъм. Със своя 30-годишен стаж в гобленарството Веска успява да зарадва много хора. За нея шиенето
        е не само хоби, но и начин на общуване: "Всеки път, когато погледна гоблените си се чувствам удовлетворена, сякаш
        душата ми грейва."
      </p>
    </div>
    <div class="row">
      <h1 style="text-align: center">Гоблен „Голямата ферма“</h1>
      <div class="col-md-6 text-center project">
        <img id="goblen" src="../images/goblen_1_w.jpeg" alt='Гоблен "Голямата ферма"' class="img-responsive">
      </div>
      <div class="col-md-6">
         <a                     
           socialshare 
           socialshare-provider="facebook" 
           socialshare-via="{{$root.texts.fbId}}" 
           socialshare-type="feed" 
           socialshare-description="{{fbShareDesc}}"
           socialshare-url="{{fbShareURL}}"
           socialshare-media="{{fbShareMedia}}"
           href="#"><img class="fb-share" src="../../../images/fb_share.png" alt="Share on FB">
         </a>  
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Размери</h4>
            <p class="list-group-item-text">22/50 см., 1:1</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Цветове</h4>
            <p class="list-group-item-text">19</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Изработен за</h4>
            <p class="list-group-item-text">6 месеца</p>
          </a>
        </div>
        <p class="btn btn-success">Цена: 760 лв.</p>
      </div>
    </div>
  </div>
</div>