<aside id="rozli-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url(../../images/s_decoupage_1.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                        <div class="slider-text-inner desc">
                            <h2 class="heading-section">{{$root.texts.bottlesHeading}}</h2>
                            <p class="rozli-lead">Направено с <i class="icon-heart3"></i> от <a href="https://www.rozliart.com">RozLi Art</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<div id="rozli-work-section">
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">{{$root.texts.bottleBike}}</h1>
            <div class="col-md-6 text-center project">
                <div class="row">
                    <img id="bike" src="../../images/p_bottle_bike_1.jpg" alt='{{$root.texts.bottleBike}}' class="img-responsive">
                </div>
            </div>
            <div class="col-md-6">
                <a                     
                  socialshare 
                  socialshare-provider="facebook" 
                  socialshare-via="{{$root.texts.fbId}}" 
                  socialshare-type="feed" 
                  socialshare-description="{{fbShareDesc}}"
                  socialshare-url="{{fbShareURL}}"
                  socialshare-media="{{fbShareMedia}}"
                  href="#"><img class="fb-share" src="../../../images/fb_share.png" alt="Share on FB">
                </a>     
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Размери</h4>
                        <p class="list-group-item-text">Височина: 20 см., Вместимост: 250 мл.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Описание</h4>
                        <p class="list-group-item-text">{{$root.texts.decoupageBottlesDesc}}</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">{{$root.texts.maintenance}}</h4>
                        <p class="list-group-item-text">{{$root.texts.mainenanceBottles}}</p>
                    </a>
                </div>
               <p class="btn btn-success">Цена: 10 лв.</p>
            </div>
        </div>
    </div>
</div>
</div>