<aside id="rozli-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <rl-slider info="sSlider"></rl-slider>
        </ul>
    </div>
</aside>
<div id="rozli-work-section">
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">{{$root.texts.bottleSurikati}}</h1>
            <div class="col-md-6 text-center project">
                <div class="row">
                    <img id="surikati" src="../../images/p_bottle_surikati_1.jpg" alt='{{$root.texts.bottleSurikati}}' class="img-responsive">
                </div>
            </div>
            <div class="col-md-6">
                <a socialshare socialshare-provider="facebook" socialshare-via="{{$root.texts.fbId}}" socialshare-type="feed" socialshare-description="{{fbShareDesc}}"
                    socialshare-url="{{fbShareURL}}" socialshare-media="{{fbShareMedia}}" href="#"><img class="fb-share" src="../../../images/fb_share.png" alt="Share on FB">
                </a>
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">{{$root.texts.measure}}</h4>
                        <p class="list-group-item-text">Височина: 26.5 см., Вместимост: 650 мл.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">{{$root.texts.desc}}</h4>
                        <p class="list-group-item-text">{{$root.texts.bottlesDescription}}</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">{{$root.texts.maintenance}}</h4>
                        <p class="list-group-item-text">{{$root.texts.mainenanceBottles}}</p>
                    </a>
                </div>
                <p class="btn btn-success">Цена: 21 лв.</p>
            </div>
        </div>
    </div>
</div>
</div>