<aside id="rozli-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <rl-slider info="dSlider"></rl-slider>
        </ul>
    </div>
</aside>
<div id="rozli-work-section">
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">{{$root.texts.bottleForest}}</h1>
            <div class="col-md-6 text-center project">
                <div class="row">
                    <img id="forest" src="../../images/p_bottle_forest_1.jpg" alt='{{$root.texts.bottleForest}}' class="img-responsive">
                </div>
                <div class="row">
                    <div id="gallery_01" class="row img-gallery-select">
                        <div class="col-md-3 image" style="width:25%;float: left;">
                            <a class="elevatezoom-gallery active" href="#" data-image="../../images/p_bottle_forest_1.jpg" data-zoom-image="../../images/p_bottle_forest_1.jpg">
                                <img class="img-responsive" src="../../images/p_bottle_forest_1.jpg" />
                            </a>
                        </div>
                        <div class="col-md-3 image" style="width:25%;float: left;">
                            <a class="elevatezoom-gallery" href="#" data-image="../../images/p_bottle_forest_2.jpg" data-zoom-image="../../images/p_bottle_forest_2.jpg">
                                <img class="img-responsive" src="../../images/p_bottle_forest_2.jpg" />
                            </a>
                        </div>
                        <div class="col-md-3 image" style="width:25%;float: left;">
                            <a class="elevatezoom-gallery" href="#" data-image="../../images/p_bottle_forest_3.jpg" data-zoom-image="../../images/p_bottle_forest_3.jpg">
                                <img class="img-responsive" src="../../images/p_bottle_forest_3.jpg" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <a socialshare socialshare-provider="facebook" socialshare-via="{{$root.texts.fbId}}" socialshare-type="feed" socialshare-description="{{fbShareDesc}}"
                    socialshare-url="{{fbShareURL}}" socialshare-media="{{fbShareMedia}}" href="#">
                    <img class="fb-share" src="../../../images/fb_share.png" alt="Share on FB">
                </a>
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Размери</h4>
                        <p class="list-group-item-text">Височина: 23 см., Вместимост: 650 мл.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Описание</h4>
                        <p class="list-group-item-text">Ръчно декорирана бутилка с техниката декупаж</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">{{$root.texts.maintenance}}</h4>
                        <p class="list-group-item-text">{{$root.texts.mainenanceBottles}}</p>
                    </a>
                </div>
                <p class="btn btn-success">Цена: 38 лв.</p>
            </div>
        </div>
    </div>
</div>