<aside id="fh5co-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <li style="background-image: url(../images/s_decoupage_1.jpg);">
        <div class="overlay-gradient"></div>
        <div class="container">
          <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
            <div class="slider-text-inner desc">
              <h2 class="heading-section">Ръчно украсени камъни</h2>
              <p class="fh5co-lead">Направено с <i class="icon-heart3"></i> от <a href="https://www.rozliart.com">RozLi Art</a></p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>
<div id="fh5co-work-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center project">
        <a href="rocks/kamen" class="grid-project">
          <div class="image"><img src="../images/p_rocks_kamen_1.jpg" alt="{{$root.texts.kamen}}" class="img-responsive"></div>
          <div class="desc">
            <h3>{{$root.texts.kamen}}</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="rocks/boat" class="grid-project">
          <div class="image"><img src="../images/p_rocks_ahtopol_1.jpg" alt='{{$root.texts.boatAhtopol}}' class="img-responsive"></div>
          <div class="desc">
            <h3>{{$root.texts.boatAhtopol}}</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>