<aside id="rozli-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <li style="background-image: url(../images/s_decoupage_1.jpg);">
        <div class="overlay-gradient"></div>
        <div class="container">
          <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
            <div class="slider-text-inner desc">
              <h2 class="heading-section">{{$root.texts.bottlesHeading}}</h2>
              <p class="rozli-lead">Направено с <i class="icon-heart3"></i> от <a href="https://www.rozliart.com">RozLi Art</a></p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>
<div id="rozli-work-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center project">
        <a href="bottles/bike" class="grid-project">
          <div class="image"><img src="../images/p_bottle_bike_1.jpg" alt="{{$root.texts.bottleBike}}" class="img-responsive"></div>
          <div class="desc">
            <h3>{{$root.texts.bottleBike}}</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="bottles/lighthouse" class="grid-project">
          <div class="image"><img src="../images/p_bottle_lighthouse_1.jpg" alt="{{$root.texts.bottleLighthouse}}" class="img-responsive"></div>
          <div class="desc">
            <h3>{{$root.texts.bottleLighthouse}}</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="bottles/forest" class="grid-project">
          <div class="image"><img src="../images/p_bottle_forest_1.jpg" alt="{{$root.texts.bottleForest}}" class="img-responsive"></div>
          <div class="desc">
            <h3>{{$root.texts.bottleForest}}</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>