<aside id="rozli-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <rl-slider info="xSlider"></rl-slider>
    </ul>
  </div>
</aside>
<div id="rozli-work-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center project">
        <a href="rocks/simeon" class="grid-project">
          <div class="image"><img src="../images/p_rocks_simeon_1.jpg" alt='{{$root.texts.boatAhtopol}}' class="img-responsive"></div>
          <div class="desc">
            <h3>{{$root.texts.rockSimeon}}</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="rocks/impuls" class="grid-project">
          <div class="image"><img src="../images/p_rocks_impuls_1.jpg" alt='{{$root.texts.boatAhtopol}}' class="img-responsive"></div>
          <div class="desc">
            <h3>{{$root.texts.rockImpuls}}</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="rocks/lisici" class="grid-project">
          <div class="image"><img src="../images/p_rocks_lisici_1.jpg" alt='{{$root.texts.boatAhtopol}}' class="img-responsive"></div>
          <div class="desc">
            <h3>{{$root.texts.rockLisici}}</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="rocks/boat" class="grid-project">
          <div class="image"><img src="../images/p_rocks_ahtopol_1.jpg" alt='{{$root.texts.boatAhtopol}}' class="img-responsive"></div>
          <div class="desc">
            <h3>{{$root.texts.boatAhtopol}}</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="rocks/rojdestvo" class="grid-project">
          <div class="image"><img src="../images/p_rocks_rojdestvo_1.jpg" alt='{{$root.texts.rockRojdestro}}' class="img-responsive"></div>
          <div class="desc">
            <h3>{{$root.texts.rockRojdestro}}</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="rocks/kamen" class="grid-project">
          <div class="image"><img src="../images/p_rocks_kamen_1.jpg" alt="{{$root.texts.kamen}}" class="img-responsive"></div>
          <div class="desc">
            <h3>{{$root.texts.kamen}}</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>