<aside id="rozli-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <rl-slider info="dSlider"></rl-slider>
    </ul>
  </div>
</aside>
<div id="rozli-work-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center project">
        <a href="/decoupage/bottles" class="grid-project">
          <div class="image"><img src="images/p_bottle_bike_1.jpg" alt="{{$root.texts.bottlesHeading}}" class="img-responsive"></div>
          <div class="desc">
            <h3>Бутилки</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="#" class="grid-project">
          <div class="image"><img src="images/p_cups_0.jpg" alt="Декупаж върху чаши" class="img-responsive"></div>
          <div class="desc">
            <h3>Чаши</h3>
            <span>Очаквайте скоро!</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="/decoupage/rocks" class="grid-project">
          <div class="image"><img src="images/p_rocks_ahtopol_1.jpg" alt="{{$root.texts.rocksHeading}}" class="img-responsive"></div>
          <div class="desc">
            <h3>Камъни</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>