<aside id="rozli-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <li style="background-image: url(../images/s_decoupage_1.jpg);">
        <div class="overlay-gradient"></div>
        <div class="container">
          <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
            <div class="slider-text-inner desc">
              <h2 class="heading-section">Ръчно украсени чаши</h2>
              <p class="rozli-lead">Направено с <i class="icon-heart3"></i> от <a href="https://www.rozliart.com">RozLi Art</a></p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>
<div id="rozli-work-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center project">
        <a href="#" class="grid-project">
          <div class="image"><img src="../images/p_dummy.jpg" alt="Project" class="img-responsive"></div>
          <div class="desc">
            <h3>Продукт 1</h3>
            <span>Описание на продукт 1</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="#" class="grid-project">
          <div class="image"><img src="../images/p_dummy.jpg" alt="Project" class="img-responsive"></div>
          <div class="desc">
            <h3>Продукт 2</h3>
            <span>Описание на продукт 2</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="#" class="grid-project">
          <div class="image"><img src="../images/p_dummy.jpg" alt="Project" class="img-responsive"></div>
          <div class="desc">
            <h3>Продукт 3</h3>
            <span>Описание на продукт 3</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="#" class="grid-project">
          <div class="image"><img src="../images/p_dummy.jpg" alt="Project" class="img-responsive"></div>
          <div class="desc">
            <h3>Продукт 4</h3>
            <span>Описание на продукт 4</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="#" class="grid-project">
          <div class="image"><img src="../images/p_dummy.jpg" alt="Project" class="img-responsive"></div>
          <div class="desc">
            <h3>Продукт 5</h3>
            <span>Описание на продукт 5</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="#" class="grid-project">
          <div class="image"><img src="../images/p_dummy.jpg" alt="Project" class="img-responsive"></div>
          <div class="desc">
            <h3>Продукт 6</h3>
            <span>Описание на продукт 6</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>