<!-- Start slider -->
<aside id="rozli-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <li style="background-image: url(images/s_xmas_bottles.jpg);">
        <div class="overlay-gradient"></div>
        <div class="container">
          <div class="col-md-5 col-sm-6 col-xs-12 js-fullheight slider-text">
            <div class="slider-text-inner">
              <div class="desc">
                <h2>Украсете празничната си трапеза</h2>
                <p><a href="/decoupage/bottles" class="btn btn-primary btn-outline">{{$root.texts.details}}</a></p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(images/s_chairs_2.jpg);">
        <div class="overlay-gradient"></div>
        <div class="container">
          <div class="col-md-5 col-sm-6 col-xs-12 js-fullheight slider-text">
            <div class="slider-text-inner">
              <div class="desc">
                <h2>Зарадвайте вашето дете с красиво дървено столче</h2>
                <p><a href="/children" class="btn btn-primary btn-outline">{{$root.texts.details}}</a></p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(images/slide_2.jpg);">
        <div class="overlay-gradient"></div>
        <div class="container">
          <div class="col-md-5 col-sm-6 col-xs-12 js-fullheight slider-text">
            <div class="slider-text-inner">
              <div class="desc">
                <h2>Стилни бутилки и кошници за една незабравима сватба</h2>
                <p><a href="/weddings" class="btn btn-primary btn-outline">{{$root.texts.details}}</a></p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(images/slide_3.jpg);">
        <div class="overlay-gradient"></div>
        <div class="container">
          <div class="col-md-5 col-sm-6 col-xs-12 js-fullheight slider-text">
            <div class="slider-text-inner">
              <div class="desc">
                <h2>Дребни подаръци за всички възрасти</h2>
                <p><a href="/decoupage" class="btn btn-primary btn-outline">{{$root.texts.details}}</a></p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>
<!-- End slider -->

<div id="rozli-section">
  <div class="grid-project-section">
    <a href="/decoupage/bottles">
      <img src="images/pg_main_xMas.jpg" alt="Коледни подаръци" class="img-responsive">
      <div class="desc text-center">
        <h2>Коледни подаръци</h2>
      </div>
    </a>
  </div>
  <div class="grid-project-section">
    <a href="/weddings">
      <img src="images/pg_main_1.jpg" alt="За Вашата сватба" class="img-responsive">
      <div class="desc text-center">
        <h2>За Вашата сватба</h2>
      </div>
    </a>
  </div>
  <div class="grid-project-section">
    <a href="/decoupage">
      <img src="images/p_rocks_ahtopol_2.jpg" alt="Декупаж" class="img-responsive">
      <div class="desc text-center">
        <h2>Декупаж</h2>
      </div>
    </a>
  </div>
</div>