<aside id="fh5co-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <li style="background-image: url(images/slide_2.jpg);">
        <div class="overlay-gradient"></div>
        <div class="container">
          <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
            <div class="slider-text-inner desc">
              <h2 class="heading-section">{{$root.texts.weddingsHeading}}</h2>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>
<div id="fh5co-work-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center project">
        <a href="/weddings/champagne" class="grid-project">
          <div class="image"><img src="images/p_cham_s_0.jpg" alt="Сватбено шампанско" class="img-responsive"></div>
          <div class="desc">
            <h3>Шампанско</h3>
          </div>
        </a>
      </div>
      <div class="col-md-6 text-center project">
        <a href="#" class="grid-project">
          <div class="image"><img src="images/p_basket_0.jpg" alt="Сватбени кошници" class="img-responsive"></div>
          <div class="desc">
            <h3>Кошници</h3>
            <span>Очаквайте скоро!</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>