<aside id="rozli-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <rl-slider info="sSlider"></rl-slider>
    </ul>
  </div>
</aside>
<div id="rozli-work-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center project">
        <a href="champagne/magic" class="grid-project">
          <div class="image"><img src="../images/p_cham_m_1.jpg" alt="Project" class="img-responsive"></div>
          <div class="desc">
            <h3>{{$root.texts.champMagic}}</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="champagne/silver" class="grid-project">
          <div class="image"><img src="../images/p_cham_s_1.jpg" alt="Project" class="img-responsive"></div>
          <div class="desc">
            <h3>{{$root.texts.champSilver}}</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>