<aside id="rozli-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <li style="background-image: url(../images/slide_2.jpg);">
        <div class="overlay-gradient"></div>
        <div class="container">
          <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
            <div class="slider-text-inner desc">
              <h2 class="heading-section">{{$root.texts.champHeading}}</h2>
              <p class="rozli-lead">Направено с <i class="icon-heart3"></i> от <a href="https://www.rozliart.com">RozLi Art</a></p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>
<div id="rozli-work-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center project">
        <a href="champagne/magic" class="grid-project">
          <div class="image"><img src="../images/p_cham_m_1.jpg" alt="Project" class="img-responsive"></div>
          <div class="desc">
            <h3>{{$root.texts.champMagic}}</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center project">
        <a href="champagne/silver" class="grid-project">
          <div class="image"><img src="../images/p_cham_s_1.jpg" alt="Project" class="img-responsive"></div>
          <div class="desc">
            <h3>{{$root.texts.champSilver}}</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>