<div class="list-group">
    <a socialshare 
    socialshare-provider="facebook" 
    socialshare-via="{{$root.texts.fbId}}" 
    socialshare-type="feed" 
    socialshare-description="{{fbShareDesc}}"
    socialshare-url="{{fbShareURL}}" 
    socialshare-media="{{fbShareMedia}}" href="#">
    <img class="fb-share" src="../../../images/fb_share.png" alt="Share on FB">
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Височина на столчето</h4>
        <p class="list-group-item-text">56 см.</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Седалка</h4>
        <p class="list-group-item-text">Височина/Ширина/Дълбочина - 29.5 см./28 см./29.5 см.</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">{{$root.texts.material}}</h4>
        <p class="list-group-item-text">{{$root.texts.materialTxt}}</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">{{$root.texts.maintenance}}</h4>
        <p class="list-group-item-text">{{$root.texts.maintenanceTxt}}</p>
    </a>
</div>
<p class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Пишете ми за да запазите сега!">В процес на изработка</p>
</div>