<aside id="fh5co-hero" class="js-fullheight">
	<div class="flexslider js-fullheight">
		<ul class="slides">
			<li style="background-image: url(images/s_chairs_2.jpg);">
				<div class="overlay-gradient"></div>
				<div class="container">
					<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
						<div class="slider-text-inner desc">
							<h2 class="heading-section">{{$root.texts.chairsHeading}}</h2>
							<p class="fh5co-lead">Направени с <i class="icon-heart3"></i> от <a href="https://www.rozliart.com">RozLi Art</a></p>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</aside>
<div id="fh5co-work-section">
	<div class="container">
		<div class="row">
			<p style="text-align: justify; color: black;">
				&emsp;&emsp;&emsp;Ако желаете да подарите на детето си нещо стойностно и красиво или просто да се насладите на творбите ми, добре дошли в галерията
				от ръчно изработени детски столчета. Тук ще намерите голямо разнообразие картинни столчета с магически герои, създадени
				специално за развитието на детското въображение и чувството за естетика. Използвани са комбинирани техники от рисуване
				и декупаж, а самият дизаин на столчетата не се повтаря.
			</p>
		</div>
		<div class="row">
			<div class="col-md-4 text-center project">
				<a href="children/pipona" class="grid-project">
					<div class="image"><img src="images/p_chair_pipona_1.jpg" alt="{{$root.piponaHeading}}" class="img-responsive"></div>
					<div class="desc">
						<h3>{{$root.texts.piponaHeading}}</h3>
					</div>
				</a>
			</div>
			<div class="col-md-4 text-center project">
				<a href="children/poli" class="grid-project">
					<div class="image"><img src="images/p_chair_poli_1.jpg" alt="{{$root.texts.poliHeading}}" class="img-responsive"></div>
					<div class="desc">
						<h3>{{$root.texts.poliHeading}}</h3>
					</div>
				</a>
			</div>
			<div class="col-md-4 text-center project">
				<a href="children/cowboy" class="grid-project">
					<div class="image"><img src="images/p_chair_cowboy_1.jpg" alt="{{$root.texts.cowboyHeading}}" class="img-responsive"></div>
					<div class="desc">
						<h3>{{$root.texts.cowboyHeading}}</h3>
					</div>
				</a>
			</div>
			<div class="col-md-4 text-center project">
				<a href="children/gabarkovci" class="grid-project">
					<div class="image"><img src="images/p_chair_gabarkovci_1.jpg" alt="{{$root.texts.gabarkovciHeading}}" class="img-responsive"></div>
					<div class="desc">
						<h3>{{$root.texts.gabarkovciHeading}}</h3>
					</div>
				</a>
			</div>
			<div class="col-md-4 text-center project">
				<a href="children/dino" class="grid-project">
					<div class="image"><img src="images/p_chair_dino_1.jpg" alt="{{$root.texts.dinoHeading}}" class="img-responsive"></div>
					<div class="desc">
						<h3>{{$root.texts.dinoHeading}}</h3>
					</div>
				</a>
			</div>
			<div class="col-md-4 text-center project">
				<a href="children/zaio" class="grid-project">
					<div class="image"><img src="images/p_chair_zaio_1.jpg" alt="{{$root.texts.zaioHeading}}" class="img-responsive"></div>
					<div class="desc">
						<h3>{{$root.texts.zaioHeading}}</h3>
					</div>
				</a>
			</div>
			<div class="col-md-4 text-center project">
				<a href="children/ruby" class="grid-project">
					<div class="image"><img src="images/p_chair_ruby_1.jpg" alt="{{$root.texts.rubyHeading}}" class="img-responsive"></div>
					<div class="desc">
						<h3>{{$root.texts.rubyHeading}}</h3>
					</div>
				</a>
			</div>
			<div class="col-md-4 text-center project">
				<a href="children/pirate" class="grid-project">
					<div class="image"><img src="images/p_chair_pirate_1.jpg" alt="{{$root.texts.pirateHeading}}" class="img-responsive"></div>
					<div class="desc">
						<h3>{{$root.texts.pirateHeading}}</h3>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>