<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url(../images/s_chairs_2.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                        <div class="slider-text-inner desc">
                            <h2 class="heading-section">{{$root.texts.chairsHeading}}</h2>
                            <p class="fh5co-lead">Направени с <i class="icon-heart3"></i> от <a href="https://www.rozliart.com">RozLi Art</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<div id="fh5co-work-section">
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">{{$root.texts.gabarkovciHeading}}</h1>
            <div class="col-md-6 text-center project">
                <div class="row">
                    <img id="gabarkovci" src="../images/p_chair_gabarkovci_1.jpg" alt='{{$root.texts.gabarkovciHeading}}' class="img-responsive">
                </div>
                <div class="row">
                    <div id="gallery_01" class="row img-gallery-select">
                        <div class="col-md-4 image" style="width:25%;float: left;">
                            <a class="elevatezoom-gallery active" href="#" data-image="../images/p_chair_gabarkovci_1.jpg" data-zoom-image="../images/p_chair_gabarkovci_1.jpg">
                                <img class="img-responsive" src="../images/p_chair_gabarkovci_1.jpg" />
                            </a>
                        </div>
                        <div class="col-md-4 image" style="width:25%;float: left;">
                            <a class="elevatezoom-gallery" href="#" data-image="../images/p_chair_gabarkovci_2.jpg" data-zoom-image="../images/p_chair_gabarkovci_3.jpg">
                                <img class="img-responsive" src="../images/p_chair_gabarkovci_2.jpg" />
                            </a>
                        </div>
                        <div class="col-md-4 image" style="width:25%;float: left;">
                            <a class="elevatezoom-gallery" href="#" data-image="../images/p_chair_gabarkovci_3.jpg" data-zoom-image="../images/p_chair_gabarkovci_3.jpg">
                                <img class="img-responsive" src="../images/p_chair_gabarkovci_3.jpg" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" cnot-finished></div>
        </div>
    </div>