<aside id="rozli-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url(../images/s_chairs_2.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                        <div class="slider-text-inner desc">
                            <h2 class="heading-section">{{$root.texts.chairsHeading}}</h2>
                            <p class="rozli-lead">Направени с <i class="icon-heart3"></i> от <a href="https://www.rozliart.com">RozLi Art</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<div id="rozli-work-section">
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">{{$root.texts.piponaHeading}}</h1>
            <div class="col-md-6 text-center project">
                <div class="row">
                    <img id="pipona" src="../images/p_chair_pipona_1.jpg" alt='{{$root.texts.piponaHeading}}' class="img-responsive">
                </div>
                <div class="row">
                    <div id="gallery_01" class="row img-gallery-select">
                        <div class="col-md-6 image" style="width:25%;float: left;">
                            <a class="elevatezoom-gallery active" href="#" data-image="../images/p_chair_pipona_1.jpg" data-zoom-image="../images/p_chair_pipona_1.jpg">
                                <img class="img-responsive" src="../images/p_chair_pipona_1.jpg" />
                            </a>
                        </div>
                        <div class="col-md-6 image" style="width:25%;float: left;">
                            <a class="elevatezoom-gallery" href="#" data-image="../images/p_chair_pipona_2.jpg" data-zoom-image="../images/p_chair_pipona_2.jpg">
                                <img class="img-responsive" src="../images/p_chair_pipona_2.jpg" />
                            </a>
                        </div>
                    </div>
                </div>      
            </div>
            <div class="col-md-6">
                <a                     
                  socialshare 
                  socialshare-provider="facebook" 
                  socialshare-via="{{$root.texts.fbId}}" 
                  socialshare-type="feed" 
                  socialshare-description="{{fbShareDesc}}"
                  socialshare-url="{{fbShareURL}}"
                  socialshare-media="{{fbShareMedia}}"
                  href="#"><img class="fb-share" src="../../../images/fb_share.png" alt="Share on FB">
                </a>            
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Седалка</h4>
                        <p class="list-group-item-text">Височина/Ширина/Дълбочина - 56 см./39 см./40 см</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Облегалка</h4>
                        <p class="list-group-item-text">Височина - 21 см.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Време за изработка</h4>
                        <p class="list-group-item-text">Минимум 3 месеца</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">{{$root.texts.material}}</h4>
                        <p class="list-group-item-text">{{$root.texts.materialTxt}}</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">{{$root.texts.maintenance}}</h4>
                        <p class="list-group-item-text">{{$root.texts.maintenanceTxt}} {{$root.texts.noDisassemble}}</p>
                    </a>
                </div>
                <p class="btn btn-danger">Изчерпан</p>                
            </div>
        </div>
    </div>
</div>